:root {
    --main_color: #ff7f50;
    --body_color: #000;
    --heading_color: #0a1399;
    --body_font: "Century Gothic", sans-serif;
    --heading_font: "Arial Black", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body_font);
    color: var(--body_color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding: 20px;
}

h1, h2 {
    font-family: var(--heading_font);
    color: var(--heading_color);
    text-align: center;
}

h1, h2, p {
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 20px;
}

form {
    width: 200px;
    display: grid;
}

button {
    font-size: 20px;
}

button:hover {
    background-color: #808080;
    text-decoration: underline;
}

/* class selectors */
.socialmedia a {
    text-decoration: none;
}

.history-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: center;
}

.adventure-container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    align-items: center;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    text-align: center;
    top: 5px;
    right: 1px;
    left: 1px;
    background-color: var(--main_color);
    color: var(--heading_color);
}

.hero img {
    display: block;
    width: 125%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 1px;
    background-color: var(--main_color);
    color: var(--heading_color);
}

.hero article img {
    float: right;
    width: 125px;
    border: 2px solid #000;
}

.contact {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.employee {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item {
    grid-template-columns: 1fr 1fr;
}

.trip img {
    width: 200px;
    height: auto;
}

.trip {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
}

.button {
    margin-top: 30px;
    margin-left: 350px;
}

.index {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 20px;
}

.purpose, .offer, .letter {
    display: flex;
    flex-direction: column;
}