:root {
    --main_color: #ff7f50;
    --body_color: #000;
    --heading_color: #0a1399;
    --body_font: "Century Gothic", sans-serif;
    --heading_font: "Arial Black", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body_font);
    color: var(--body_color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 20px;
}

h1, h2 {
    font-family: var(--heading_font);
    color: var(--heading_color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/* class selectors */
.socialmedia a {
    text-decoration: none;
}

.history h2 {
    text-align: center;
    margin-bottom: 20px;
}


.history-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: center;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    text-align: center;
    top: 5px;
    right: 1px;
    left: 1px;
    background-color: var(--main_color);
    color: var(--heading_color);
}

.hero img {
    display: block;
    width: 125%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 1px;
    background-color: var(--main_color);
    color: var(--heading_color);
}

.hero article img {
    float: right;
    width: 125px;
    border: 2px solid #000;
}