:root {
    --main_color: lightgray;
    --body_color: gray;
    --secondary_color: steelblue;
    --body_font: Century Gothic;
    --head_font: arial black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body_font);
    color: var(--body_color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--head_font);
    color: var(--secondary_color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

/* class selectors */
.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    text-align: center;
    top: 5px;
    right: 1px;
    left: 1px;
    background-color: var(--main_color);
    color: var(--secondary_color);
}

.hero img {
    display: block;
    width: 125%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 1px;
    background-color: var(--main_color);
    color: var(--secondary_color);
}

.hero article img {
    float: right;
    width: 125px;
    border: 2px solid black;
}