* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

header, footer {
    margin: 30px;
    text-align: center;
}

h1, h2 {
    color: darkgreen;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: lightgray;
    display: grid;
}

fieldset {
    display: grid;
    gap: 2rem;
    border: 2px solid black;
}

legend {
  padding: 0.5rem;
  color: navy;
  font-size: 1.3em;
}

label {
    text-align: right;
    padding-right: 20px;
}

input, select, textarea {
    padding: 20px;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 20px;
    height: auto;
    vertical-align: bottom;
}

button {
  margin: 1rem;
  background-color: #0d6378;
  color: white;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: #0b0283;
}