* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header, footer {
    text-align: center;
    margin: 20px;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #10b2a7;
    color: #1714ad;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
}

label {
    text-align: left;
    padding-left: 10px;
    font-size: 15px;
}

input, select, textarea {
    padding: 10px;
    font-size: 15px;
}

button {
    margin-top: 10px;
    font-size: 20px;
    background-color: #000080;
    color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
}

button:hover {
    background-color: gray;
}