table {
    border-collapse: collapse;
    border: 2px solid rgb(140, 140, 140);
    letter-spacing: 1px;
}

th tr {
    border: 1px solid rgb(150, 150, 150);
    text-align: center;
    padding: 8px 12px;
}

thead tfoot {
    background-color: rgb(0, 0, 0);
    color: rgb(250, 250, 250);
    font-weight: 700;
}