* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: darkblue;
    border-bottom: 2px solid#222;
}

main {
    max-width: 450px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 400px;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
}

header, footer {
    max-width: 840px;
    margin-top: 30px;
    border-top: 2px solid#222;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid gray;
    background-color: salmon;
    color: darkgreen;
}